# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
ENV/

# IDEs
.idea/
.vscode/
*.swp

# Environment variables & Local logs
.env
logs/
*.log

# Temp / Local documents
*.pdf
.DS_Store
Thumbs.db
